body {
    background-image: url(../image/pexels-mikhail-nilov-7583935.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: blue;
  
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }
  
  #grades {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    background-color: rgb(87, 83, 83);
    padding: 20px;
    opacity: 0.9;
    z-index: 2;
  }
  